<p id="notice"><%= notice %></p>

<p>
  <b>Summary:</b>
  <%= @event.summary %>
</p>

<p>
  <b>Dtstart:</b>
  <%= @event.dtstart %>
</p>

<p>
  <b>Dtend:</b>
  <%= @event.dtend %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
